{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 7"],
                "uglify": true
            }
        }]
    ],
    "plugins": [
        "babel-plugin-transform-vue-jsx",
        "transform-object-rest-spread"
    ]
}
