{
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/jsx-uses-vars": 2
    }
}
